<div class="table-header">
    <a [routerLink]="['/main-page','staff-new']" class="add-user-link">Novo Administrativo</a>
    <input type="text" class="search-bar" placeholder="Pesquisar...">
</div>
<table class="user-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Género</th>
            <th>Activo</th>
            <th>Data de Nascimento</th>
            <th>Data de Contratação</th>
            <th>Data de Fim Contratação</th>
            <th>Ações</th> <!-- Coluna para os botões -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let staff of staffs">
            <td>{{ staff.name.firstName }} {{ staff.name.lastName}}</td>
            <td>{{ staff.gender }}</td>
            @if(staff.isActive)
            {
            <td>Sim</td>
            }
            @else
            {
            <td>Não</td>
            }
            <td>{{ staff.dateOfBirth }}</td>
            <td>{{ staff.hiredDate }}</td>
            <td>{{ staff.dateOfTermination}}</td>
            <td>
                <a [routerLink]="['/main-page','staff-edit',staff.id]"><i class="fas fa-edit edit-icon"></i></a>
                <a (click)="deleteStaff(staff.id)"><i class="fas fa-trash delete-icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>
@if(errorMessage != null)
{
<div class="error-message">
    {{ errorMessage }}
</div>
}

<div class="pagination">
    <button class="pagination-btn prev-btn" disabled>&laquo; Anterior</button>
    <button class="pagination-btn">1</button>
    <button class="pagination-btn">2</button>
    <button class="pagination-btn">3</button>
    <button class="pagination-btn next-btn">Próximo &raquo;</button>
</div>