<div class="profile-container">
    <div class="profile-card">
        <div class="profile-avatar">
            <img [src]="'https://ui-avatars.com/api/?name='" alt="Avatar do utilizador">
        </div>
        <div class="profile-info">
            <h2>{{ user.name.firstName }} {{user.name.lastName}}</h2>
            <div class="profile-details">
                <div>
                    <span>Nome Completo:</span>
                    <span> {{ user.name.firstName }} {{user.name.middleNames.join('')}} {{user.name.lastName}} </span>
                </div>
                <div>
                    <span>Género:</span>
                    <span> {{ user.gender }} </span>
                </div>
                <div>
                    <span>Data de nascimento:</span>
                    <span> {{ user.dateOfBirth | date:'dd/MM/yyyy'}} </span>
                </div>
            </div>
            <div class="error-message" *ngIf="errorMessage != null">
                {{ errorMessage }}
            </div>
            <a class="profile-edit-link" [routerLink]="['/front-page','edit-user-profile']">Editar Perfil</a>
        </div>
    </div>
</div>