<div class="login-page">
    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Login Funcionários</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" placeholder="Digite seu email">
                </div>
                @if(loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty ||
                loginForm.get('email')?.touched)) {
                <div class="error-message">Email inválido</div>
                }
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" placeholder="Digite sua senha">
                </div>
                @if(loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)) {
                <div class="error-message">Senha inválida</div>
                }

                @if(errorMessage != null)
                {
                <div class="error-message">
                    {{ errorMessage }}
                </div>
                }

                <div class="form-actions">
                    <button type="submit" class="btn-login">Entrar</button>
                </div>

                <div class="login-footer">
                    <a href="#">Esqueceu sua senha?</a>
                </div>
                <div class="login-footer">
                    <a [routerLink]="['/front-page','login-user']">Login de Usuários</a>
                </div>
            </form>
        </div>
    </div>
</div>