<div class="register-container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Criar Conta</h2>
        <div formGroupName="name" class="input-group">
            <div class="input-group">
                <label for="firstName">Primeiro Nome</label>
                <input type="text" id="firstName" formControlName="firstName" placeholder="Digite o primeiro nome">
            </div>
            <div class="error-message" *ngIf="registerForm.get('name.firstName')?.invalid && 
                         (registerForm.get('name.firstName')?.dirty || registerForm.get('name.firstName')?.touched) ">
                Nome inválido
            </div>
            <div class="input-group">
                <label for="middleNames">Nomes do Meio</label>
                <input type="text" id="middleNames" formControlName="middleNames" placeholder="Digite os nomes de meio">
            </div>
            <div class="error-message" *ngIf="registerForm.get('name.middleNames')?.invalid && 
            (registerForm.get('name.middleNames')?.dirty || registerForm.get('name.middleNames')?.touched)">Nome
                inválido

            </div>
            <div class="input-group">
                <label for="lastName">Último Nome</label>
                <input type="text" id="lastName" formControlName="lastName" placeholder="Digite o último nome">
            </div>
            <div class="error-message" *ngIf="registerForm.get('name.lastName')?.invalid && 
            (registerForm.get('name.lastName')?.dirty || registerForm.get('name.lastName')?.touched)">Nome inválido

            </div>
        </div>
        <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" formControlName="email" placeholder="Digite o seu email">
        </div>
        <div class="error-message"
            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            Email inválido
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Digite uma password">
        </div>
        <div class="error-message" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || 
                    registerForm.get('password')?.touched)">
            Password inválida
        </div>
        <div class="input-group">
            <label for="confirmPassword">Confirmar Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Repita a passord"
                required>
        </div>
        <div class="error-message" *ngIf="registerForm.get('confirmPassword')?.invalid &&
              (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
            Password inválida
        </div>
        <div class="error-message" *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch')">
            As passwords não coincidem
        </div>
        <div class="error-message" *ngIf="errorMessage != null">
            {{ errorMessage }}
        </div>
        <button type="submit" class="btn-register">Criar Conta</button>
        <div class="register-links">
            <a [routerLink]="['/front-page','login-user']">Já tem conta? Entrar</a>
        </div>
    </form>
</div>