<div class="table-header">
    <div class="header-links">
        <a [routerLink]="['/main-page','agent-edit',agent.id]" class="return-link">Voltar</a>
        <a [routerLink]="['/main-page','agent-new-contact',agent.id]" class="new-contact-link">Novo Contacto</a>
    </div>
    <input type="text" class="search-bar" placeholder="Pesquisar...">
</div>
<table class="contact-table">
    <thead>
        <tr>
            <th>Tipo de Contacto</th>
            <th>Contacto</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of agent.entityLink?.contacts">
            @if(contact.contactType === 0) {
            <td>Telefone</td>
            } @else if(contact.contactType === 1) {
            <td>Email</td>
            }
            <td>{{ contact.value}}</td>
            <td>
                <a [routerLink]="['/main-page','agent-edit-contact',agent.id,contact.id]">
                    <i class="fas fa-edit edit-icon"></i>
                </a>
                <a (click)="deleteContact(contact.id)"><i class="fas fa-trash delete-icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>
@if(errorMessage != null)
{
<div class="error-message">
    {{errorMessage}}
</div>
}