<div class="topbar">
    <div class="topbar-content">
        <span class="logo-mini">Sintra House</span>
        <div class="topbar-actions">
            <div>
                <a [routerLink]="['/front-page','login-user']" class="link-topbar">Login</a>
            </div>
            @if(role === 'User')
            {
            <div class="dropdown">
                <a class="dropdown-toggle">Conta &#x25BC;</a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/front-page','user-profile']">Perfil</a></li>
                    <li><a href="#">Segurança</a></li>
                    <li><a href="#" (click)="logout()">Sair</a></li>
                </ul>
            </div>

            }
        </div>
    </div>
</div>
<div class="container">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Imóveis</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
</div>
<footer class="footer">
    © 2025 Imobiliária Sintra House. Todos os direitos reservados.
</footer>