<div class="main-container">
    <aside>
        <div class="logo-container">
            <!--   <img src="logo.png" alt="Sintra imoveis" class="logo">-->
        </div>
        <nav>
            <ul>@if(role == 'Agent')
                {
                <li><a href="#"><i class="fas fa-user"></i><span>Imóveis</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Calendário</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Contactos</span></a></li>
                }
                @else if(role == 'Manager')
                {
                <li><a href="#"><i class="fas fa-user"></i><span>Imóveis</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Calendário</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Contactos</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Meus Agentes</span></a></li>
                }
                @else if(role == 'Broker')
                {
                <li><a href="#"><i class="fas fa-user"></i><span>Imóveis</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Calendário</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Contactos</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Meus Agentes</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Meus Gestores</span></a></li>

                }@else if(role == 'Staff')
                {
                <li><a href="#"><i class="fas fa-user"></i><span>Calendário</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Contactos</span></a></li>

                }@else if(role == 'Admin')
                {
                <li><a href="#"><i class="fas fa-user"></i><span>Imóveis</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Calendário</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Contactos</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Agentes</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Administrativos</span></a></li>
                <li><a href="#"><i class="fas fa-user"></i><span>Utilizadores</span></a></li>
                }

            </ul>
        </nav>
    </aside>
    <div class="secondary-container">
        <header>
            <div class="logo-hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logout">
                <h3 (click)="logout()">Logout</h3>
            </div>
        </header>
        <main>
            <h1 class="page-title">Back-Office</h1>
            <div class="table-container">
                <router-outlet></router-outlet>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <p>&copy; 2025 Layout Profissional. Todos os direitos reservados.</p>
                <ul class="footer-links">
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>