<div class="listings-container">
    <header>
        <h1>Imobiliária Sintra House</h1>
        <input type="text" placeholder="Buscar imóveis...">
    </header>
    <section class="properties">
        <div *ngFor="let list of listings" class="property-card">
            <img src="https://picsum.photos/300/200" alt="Imóvel">
            <h3>{{ list.type }}</h3>
            <p>{{ list.numberOfRooms }} quartos,
                {{ list.numberOfBathrooms}} casa de banho, {{ list.area }}m²</p>
            <span>{{list.price}}</span>
        </div>
    </section>
</div>