<div class="table-header">
    <div>
        <a [routerLink]="['/main-page','agent-edit',agent.id]" class="return-link">Voltar</a>
        <a [routerLink]="['/main-page','agent-new-address',agent.id]" class="new-address-link">Novo Endereço</a>
    </div>
    <input type="text" class="search-bar" placeholder="Pesquisar...">
</div>
<table class="user-table">
    <thead>
        <tr>
            <th>Morada</th>
            <th>Cidade</th>
            <th>Código Postal</th>
            <th>País</th>
            <th>Ações</th> <!-- Coluna para os botões -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let address of agent.entityLink?.addresses">
            <td>{{ address.street }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.postalCode}}</td>
            <td>{{ address.country}}</td>
            <td>
                <a [routerLink]="['/main-page','agent-edit-address',agent.id,address.id]">
                    <i class="fas fa-edit edit-icon"></i>
                </a>
                <a (click)="deleteAddress(address.id)"><i class="fas fa-trash delete-icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>