<div class="table-header">
    <a [routerLink]="['/main-page','appointment-new']" class="add-user-link">Nova Reunião</a>
    <input type="text" class="search-bar" placeholder="Pesquisar...">
</div>
<table class="user-table">
    <thead>
        <tr>
            <th>Tipo de Reunião</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Hora de Início</th>
            <th>Hora de Fim</th>
            <th>Status</th>
            <th>Ações</th> <!-- Coluna para os botões -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employeeParticipant of employeesParticipants.participants">
            <td>{{ employeeParticipant.appointment.title }}</td>
            <td>{{ employeeParticipant.appointment.description }}</td>
            <td>{{ employeeParticipant.appointment.date}}</td>
            <td>{{ employeeParticipant.appointment.hourStart }}</td>
            <td>{{ employeeParticipant.appointment.hourEnd }}</td>
            @if(employeeParticipant.appointment.status === 0)
            {
            <td>Confirmada</td>
            }
            @else if(employeeParticipant.appointment.status === 1)
            {
            <td>Cancelada</td>
            }
            @else if(employeeParticipant.appointment.status === 2)
            {
            <td>Concluída</td>
            }
            <td>
                @if(employeeParticipant.role === 0)
                {
                <a [routerLink]="['/main-page','appointment-edit',employeeParticipant.appointment.id]">
                    <i class="fas fa-edit edit-icon"></i></a>
                <a (click)="deleteAppointment(employeeParticipant.appointment.id)">
                    <i class="fas fa-trash delete-icon"></i></a>
                <a [routerLink]="['/main-page','participant-list',employeeParticipant.appointment.id]">
                    <i class="fas fa-users participant-icon"></i></a>
                }@else if(employeeParticipant.role === 1)
                {
                <a (click)="deleteParticipant(employeeParticipant.appointment.id,employeeParticipant.id)">
                    <i class="fa-solid fa-xmark delete-icon"></i></a>
                }
            </td>
        </tr>
    </tbody>
</table>
@if(errorMessage != null)
{
<div class="error-message">
    {{ errorMessage }}
</div>
}
<div class="pagination">
    <button class="pagination-btn prev-btn" disabled>&laquo; Anterior</button>
    <button class="pagination-btn">1</button>
    <button class="pagination-btn">2</button>
    <button class="pagination-btn">3</button>
    <button class="pagination-btn next-btn">Próximo &raquo;</button>
</div>